.body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.title-container {
    border-bottom: 2px solid #0188b9;
    padding-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-box {
    width: 40%;
}

.faq-item {
    margin-top: 25px;
    margin-bottom: 25px;
}

.question {
    margin-bottom: 5px;
}

.answer {
    font-size: medium;
}

@media only screen and (max-width: 992px) {
    .body {
        margin-left: 0%;
        margin-right: 0%;
    }

    .search-box {
        width: 100%;
    }

    .title-container {
        margin-left: 0%;
        margin-right: 0%;
    }

    .slds-text-heading_large {
        font-size: 23px;
    }
}